section {
    width: 100%;
    max-width: 656px;
    margin-top: 100px;
}

section h2 {
    font-size: 24px;
    font-weight: 900;
    color: var(--red-dark);
    padding-left: 4px;
}

section h1 {
    font-size: 90px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 0.8;
}

.description {
    font-size: 18px;
    line-height: 2.25;
    text-align: justify;

    margin-top: 32px;
}

@media(max-width: 1266px) {
    section {
        width: 540px;
        margin-top: 24px;
        padding-right: 24px;
    }

    section h2 {
        font-size: 20px;
    }

    section h1 {
        font-size: 64px;
    }

    .description {
        font-size: 15px;
        margin-top: 24px;
    }
}

@media(max-width: 768px) {
    section {
        width: 100%;
        margin-top: 0;
        padding-right: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section h2 {
        font-size: 18px;
        margin-bottom: 4px;
    }

    section h1 {
        font-size: 58px;
    }

    .description {
        text-align: center;
        max-width: 550px;
    }
}